section[data-main] {
  .list-group-item-heading {
  	font-size: 0.8em;
  	margin-bottom: 7px;
  	color: #333;
  }

  .list-group-item-text {
  	font-size: 0.8em;
  	color: #555;
  }

  .list-group-item {
  	padding: 13px;
  }

  .label-new {
  	background-color: #F5CA00;
  }

  .label-open {
  	background-color: #E82A2A;
  }

  .label-hold {
  	background-color: #000;
  }

  .label-pending {
  	background-color: #59BBE0;
  }

  .label-solved {
  	background-color: #828282;
  }

  .label-closed {
  	background-color: #aaa;
  }
}
